<!DOCTYPE html>
<html>
<head>
  <title>TestblogRailsVersion</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link data-require="bootstrap@*" data-semver="4.0.5" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
  <script data-require="bootstrap@*" data-semver="4.0.5" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
  <script data-require="jquery@*" data-semver="3.1.1" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="style.css" />
  <script src="script.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
     <div class="row">

       <div class="col-sm-4">
         <ul>
           <li>Contact 1</li>
         </ul>
       </div>
       
     </div>
   </div>

  <% if user_signed_in? %>

    <%= current_user.username %> | <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>

  <% else %>

  <%= link_to 'Sign In', new_user_session_path %>

  <% end %>




  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
